html, body{
	margin: 0;
	padding: 0;
 	height: 100%;
}
div{
	box-sizing: border-box
}
.altUI_AppSecHor{
	display: flex;
	padding: 8px;
	justify-content: space-around;
	flex: 1;
	box-sizing: border-box
}

.altUI_AppView{
	display: flex;
	flex:1;
}

	.altUI_AppViewSidebar{
		width: 300px;
		display: flex;
		flex-direction: column;
		background: whitesmoke;
		flex-shrink: 0;
		overflow: auto;
		box-sizing: border-box
	}
	.altUI_AppView_Content{
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		height: 100%;
		overflow: auto; 
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		position: relative
	}

.altUI_AppBar{
	position: sticky;
  	top: 0;
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
	padding: 16px;
  	box-sizing: border-box;
  	align-items: center;
	background-color: white
  
}
	.altUI_AppBarLogo{
    		max-height: 48px;
    		margin-right: 8px
  	}
  	.altUI_AppBarToolbar{
    		display: flex;
    		flex: 1;
    		width: 100%;
    		flex-direction: row
  	}
  		.altUI_AppBarToolbar h1{
    			font-family: 'Source Sans Pro', sans-serif;
    			font-size: 48px;
    			font-weight: 800;
    			flex: 1;
    			margin: 0;
    			padding: 0;
			text-align: center
	}


.altUI_FormCardBlock{
	margin: 8px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
	border-radius: 8px;
	border: 1px solid rgb(200,200,200)
}

.altUI_Heading{
	font-family: 'Source Sans Pro', Arial, sans-serif;
}
.altUI_Heading.altUI_Heading2{
	font-weight: 800;
	font-size: 32px;
	text-transform: uppercase
}

.altUI_HorizontalRule{
	margin: 16px 8px;
}

.altUI_InputVIew{
	font-family: 'Source Sans Pro', Arial, sans-serif;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	padding: 8px
}
	.altUI_InputView label.altUI_InputViewHint{
		font-size: 18px;,
		font-weight: 600;
	}
	.altUI_InputView input.altUI_InputViewInput, .altUI_Button, select.altUI_InputViewInput{
		font-size: 1.2em;
		padding: 8px;
		border-radius: 8px;
		background: rgb(245,245,245);
		border: none;
	}
	
		select.altUI_InputViewInput option{
			font-size: 16px;
		}
	input.altUI_InputViewInput:not([type="button"], [type="submit"]):focus{
		border: none;
		border-radius: 0px;
		border-bottom: 2px solid rgb(0,122,255);
		background: transparent;
	}
	.altUI_InputView:has(>input[type="hidden"]){
		padding: 0;
	}
	input[type="button"].altUI_InputViewInput, input[type="submit"].altUI_InputViewInput, .altUI_Button{
		padding: 16px;
		font-weight: 600;
		font-size: 18px
	}
	.altUI_InputView input.altUI_InputViewInput{
		margin: 0 !important;
	}
	.altUI_Button{
		margin: 8px
	}

.altUI_ListViewItem{
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding: 16px 0px;
	border-bottom: 1px solid rgb(160, 160, 160);
	align-items: center;
	font-size: 16px
}
	.altUI_ListViewItemMaster .altUI_ListViewItemCenter{
		display: flex;
		flex: 1;
		flex-direction: column;
		font-family: 'Source Sans Pro', Arial, sans-serif;
	}
	.altUI_ListViewItemMaster .altUI_ListViewItemLabel{
		font-weight: 600;
		font-size: 1.5em
	}
	.altUI_ListViewItemMaster .altUI_ListViewItemDetail{
		font-siez: 1.2em
	}

.altUI_ListViewItemCard{
	padding: 8px;
	border-radius: 8px;
	border: 1px solid rgb(160, 160, 160);
	margin: 8px;
	font-size: 18px
}




.altUI_Modal{
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 8px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
	width: 100%;
	max-width: 800px;
	margin: 8px
}
	.altUI_ModalTitle{
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		background: rgb(245,245,245);
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 20px;
		font-weight: 600;
		padding: 16px 24px;
	}
	.altUI_ModalContent{
		padding: 16px;
		height: 100%;
		overflow: auto;
	}
.altUI_Modal.altUI_ModalFull{
	height: 100%;
	max-width: 100%;
}
	.altUI_Modal.altUI_ModalFull .altUI_ModalTitle{
		border: none;
		font-size: 40px;
	}
	.altUI_Modal.altUI_ModalFull .altUI_ModalContent{
		padding: 0px;
	}


.altUI_NavStack{
	
}

.altUI_SegmentedControl{
	font-size: 1.2em;
	padding: 0px;
	border-radius: 8px;
	background: rgb(245,245,245);
	border: 1px solid rgb(200,200,200);
	margin: 8px
}


.altUI_TabView{
	width: 100%;
	display: flex;
	flex-direction: column
}
	.altUI_TabViewTabs{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 8px;
		padding-bottom: 0px;
		background: rgb(245,245,245);
		box-sizing: border-box;
	}
		.altUI_TabViewTabs .altUI_TabViewTab{
			font-size: 24px;
			font-family: 'Source Sans Pro', Arial, sans-serif;
			font-weight: 400;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			padding: 4px 8px;
			flex: 1;
			text-align: center;
			border-bottom: 1px solid rgb(160,160,160);
			display: flex;
			align-items: center;
			justify-content: center
		}
		.altUI_TabVIewTabs .altUI_TabViewTabActive{
			background: white;
			border: 1px solid rgb(160,160,160);
			border-bottom-color: transparent;
			font-weight: 600;
		}
	.altUI_TabViewContent{
		padding: 16px;
		display: none
	}
	.altUI_TabViewContentActive{
		display: flex;
	}
